.retention-cohort{
    /* display:flex; */
    /* flex-direction: column; */
    height:100%;
    width:100%;
    background-color: rgb(255, 196, 196);
    overflow: scroll;
    padding: 10px;
  }
  /* .retention-cohort .table-container{
  }
  .retention-cohort table{
  }
  .retention-week{
  }
  .weekDataBlock{
  } */